/* Background color of top sidebar */
.wy-side-nav-search {
    background-color: #7e191b;
}

/* Text color of "Contents" label in the sidebar */
.wy-menu .caption .caption-text {
    color: #b3242b !important;
    font-weight: bold !important;
}

/* Change mobile header bar background color */
.wy-nav-top {
    background-color: #7e191b !important;
}

